[Unit]
Description=Build nginx container
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=Mon 04:17
Persistent=true

[Install]
WantedBy=timers.target
